<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <div class="row">
    <div class="col-sm-8">
      <h4>{{ post.title }}</h4>
    </div>
    <div class="col-sm-4">
        <p class='text-right text-muted'>{{ post.created_at | date: 'M/d/y h:mm a' }}</p>
    </div>
  </div>
  <p>{{ post.content }}</p>
  <button type="button" class="btn btn-success" (click)="onLoveIt()">
    Love it!
  </button>&nbsp;
  <button type="button" class="btn btn-danger" (click)="onDontLoveIt()">
    Don't love it!
  </button>
</li>
